$dark-color: #242529;;
$light-color: #eee;

.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  a {
    color: $light-color;
    text-decoration: none;
  }
  .sidebar{
    background-color: $dark-color;
    button{
      color: #eee !important;
    }
    i{
      color: #eee;
    }
    
  }
  
  
  

}

.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
    text-decoration: none;

  }
  .container-fluid{
    background-color: #eee;
  }
  .sidebar{
  background-color: $light-color;
  button , i ,h4,p{
    color: $dark-color !important;
  }
  
  

  }
  svg{
    color: $dark-color !important;
  }
  .navs{
    input{
      background-color: $light-color !important;

    }
  }
  
}