.container{
    
   
    .login{
        width: 400px;
        margin: auto;
        padding: auto;
        padding: 20px;
        background-color:  #979493;
        border-radius: 9px;
        button{
            background-color: hsl(54.1, 100%, 73.9%);
            margin-bottom: 10px;
           }
    }
}