.mystyle{
    background-color: rgb(255, 240, 240);
}
.setting{

    .card{
        max-width: 220px;
      
       
    }
    
}
.edit{
    max-width: 500px;
    margin: auto;
    padding: auto;
    
}

