.sidebar {
  display: block;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#242529;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid hsl(226.7, 5.6%, 31.6%);
   
    // .form-switch .form-check-input{
    //   // --bs-form-switch-bg:url("https://img.icons8.com/?size=2x&id=83221&format=png");
    //   --bs-form-switch-bg:none;


    // }
    h4{
      margin-top: -21px;
    }
    h4 , p,i{
      color: white;
    }
    .image{
    width: 55px;
  
      border-radius: 60px ;
    }
  //   .form-check-input:after {
  //     font-family: 'FontAwesome';
  //     content: '\f111';
  //     color: yellow;
     
  //     position:absolute;
      
  // }
//   .form-check-input:before {
//     font-family: 'FontAwesome';
//     content: '\f0a3';
//       color: white;
//       top:0;
    
// }
    .btx{
      color: white;
      border-color: hsl(226.7, 5.6%, 31.6%);
      border-radius: 18px;
      text-align: center;
      
      
      
    }
   .footer{
    margin-top:  150px;
   }
  }
  .wrapper{
    background-color: red;
  }
  

 