.sidebar {
  display: block;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#242529;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid hsl(226.7, 5.6%, 31.6%);
  
    
    h4 , p,i{
      color: white;
    }
    .image{
    width: 80px;
     
      border-radius: 60px ;
    }
    .btx{
      color: white;
      border-color: hsl(226.7, 5.6%, 31.6%);
      border-radius: 18px;
      
    }
   .footer{
    margin-top:  150px;
   }
  }
  .wrapper{
    background-color: red;
  }
  

 